h1 {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
h2 {
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-collapse: collapse;
}