h1 {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
h2 {
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-collapse: collapse;
}
caption {
    caption-side: bottom;
}
label {
    display: block;
}
li {
    display: inline;
    margin-right: 8px;
}
p {
    padding: 16px 12px;
    border: 4px inset blue;
}
header {
    border: 5px outset green;
}
    