h1 {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
h2 {
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-collapse: collapse;
}
caption {
    caption-side: bottom;
}
label {
    display: block;
}
li {
    display: inline;
    margin-right: 8px;
}
p {
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 20px;
}
    